.left
  %h2.camera What is soft focus
  %p In <strong>photography</strong>, soft focus (or soft blur) is a <strong>lens flaw</strong>, in which the lens forms images that are <strong>blurred</strong> due to spherical aberration. A soft focus lens deliberately introduces spherical aberration in order to give the appearance of blurring the image while <strong>retaining sharp edges</strong>; it is <strong>not</strong> the same as an <strong>out-of-focus</strong> image, and the effect cannot be achieved simply by defocusing a sharp lens. Soft focus is also the <strong>name of the style</strong> of photograph produced by such a lens.
  .source
    source:
    = link_to 'wikipedia', 'http://en.wikipedia.org/wiki/Soft_focus'
.right
  %h2.hat Why this website?
  %p I build this website because there is no <strong>simple</strong> way for people to play with soft focus effet. I want to allow everybody to use it <strong>without</strong> any photo editing skills, <strong>online</strong>, and for free. It's a <strong>fun</strong> effect a lot a people ignore which makes your photos look more <strong>dreamy</strong>. It also works well removing <strong>jpeg noise</strong>.
  %h2.share Like it? Share it!
  %p= render 'shared/twitter'
